
  
<p class="welcomeImg"><%= image_tag("http://i.imgur.com/cwnanYW.png") %></p>
  <% if current_user %>
    <p class="welcomeEmail"><%= @user.email %></p>
    <%= link_to 'Log out', login_path(@user), :method => :delete %>
  <% end %>